*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.boxes{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.selectCpurse{
    width: 100%;
}
.selectBatch{
    width: 100%;
}